# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# Generated
*.g.dart
*.freezed.dart

# Environments
.env.local

# iOS / Android
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
android/.gradle/
android/captures/
android/local.properties

# IDE
.idea/
*.iml
.vscode/settings.json
